.space {
  background: #fafaf8;
  text-align: center;
}

.property .color-bar {
  height: 25px;
  border-bottom: 2px solid #080808;
}
.property .name {
  
}

.space .name {
  font-size: 14px;
}

.space .price {
  font-size: 7px;
  font-weight: 400;
  padding-bottom: 5px;
}


